.DS_Store
SqueezitProto/.DS_Store
SqueezitProto/Squeezit.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
SqueezitProto/Squeezit.xcodeproj/xcuserdata/apple.xcuserdatad/
